page-home {
    text-align: -webkit-center;
    #hello{
        text-align: center
    }
    .buttons{
        display: flex;
        flex-direction: column;
        width: 18%;
        justify-content: center;
    }
}
